<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg border-0 rounded">
          <div class="card-header bg-success text-white rounded-top">
            <h2 class="mb-0">Información sobre el Asistente</h2>
          </div>
          <div class="card-body">
            <p class="lead mb-4">Bienvenido a nuestra página de información sobre el chatbot. Aquí encontrarás todo lo que necesitas saber para utilizarlo eficazmente.</p>
    
            <h3 class="mt-4">¿Qué es ESPErancito?</h3>
            &nbsp;
            <p>Es una herramienta diseñada para responder a tus preguntas sobre nuestra universidad. Puede proporcionarte información sobre cursos, eventos, y mucho más.</p>
    
            <h3 class="mt-4">Características</h3>
            &nbsp;
            <ul>
              <li>Respuestas rápidas y precisas a tus preguntas.</li>
              <li>Disponible 24/7 para ayudarte en cualquier momento.</li>
              <li>Interacción intuitiva y fácil de usar.</li>
            </ul>
    
            <h3 class="mt-4">¿Cómo Utilizar el Chatbot?</h3>
            &nbsp;
            <p>Para empezar, simplemente escribe tu pregunta en el área de texto y presiona el botón "Enviar". El chatbot procesará tu consulta y te proporcionará una respuesta en cuestión de segundos, trata de ser específico.</p>
            <p class="mt-3">Las preguntas necesariamente deben tener los signos de interrogación  ¿? como se muestra en el ejemplo:</p>
            <p class="mt-3" style="text-align: center;">¿Quién es el Director de la Carrera de Ingeniería de Software Matriz Sangolquí?</p>
            <h3 class="mt-4">Contacto</h3>
            <p>Si tienes alguna duda adicional, no dudes en <a href="https://chat.whatsapp.com/JXreFhwCTqwK81PFCXHFxo" class="link-success">contactarnos aquí</a>.</p>
          </div>
          <div class="card-footer text-center bg-light">
            <p class="mb-0 text-muted">© 2024 ESPE Chatbot - Todos los derechos reservados</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  